body{
    display: flex;
    flex-direction: column;
    position: relative;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    
}

header{
    background-color: #787878;
    width: auto;
    height: 70px;
    line-height: 70px;
    border-top: none;
    text-align: center;

}