body{
    display: flex;
    flex-direction: column;
    position: relative;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    
}

header{
    background-color: #787878;
    width: auto;
    height: 70px;
    line-height: 70px;
    border-top: none;
    text-align: center;

}

.buttonCad{
    height: 35px;
    width: 35px;
    background-color: aqua;
    border: none;
    box-shadow: 4px #787878;
    background-image: url();
}

.cad-painel{
    position: absolute;
    top:0px;
    left: 0px;
    border: 1px solid #000;
    background-color: #787878;
    padding: 20px;
    border-radius: 5px;
    display: none;

}