body{
    display: flex;
    flex-direction: column;
    position: relative;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    
}

header{
    background-color: #787878;
    width: auto;
    height: 70px;
    line-height: 70px;
    border-top: none;
    text-align: center;

}

.buttonCad{
    height: 35px;
    width: 35px;
    background-color: aqua;
    border: none;
    box-shadow: 4px #787878;
    background-image: url();
}

.cad-painel{
    line-height: 50px;
    align-items: center;
    width: auto;
    height: 100px;
    flex-direction: column;
    display: none;
    margin: 100px 38%;
    padding: 50px 60px;
    background-color: white;
    box-shadow: 1px 1px 10px black;


}


